fastapi
uvicorn
streamlit
python-dotenv
sqlalchemy
langchain
langchain-community
chromadb

numpy<2
sentence-transformers==2.7.0
transformers==4.41.2
torch==2.3.1

google-genai
textstat
scipy
plotly
pydantic-settings

